* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: stretch; */
}

.right-side {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.settings-panel {
  flex: 0.25;
  background: #f5f5f5;
  border: 1px solid black;
}

select {
  width: 100%;
}

input {
  width: 100%;
}

label {
  margin-bottom: 0.1em;
  margin-top: 0.4em;
}

