.collection-products-list {
    display: flex;
    flex-wrap: wrap;
}

.collection-products-list > div {
    flex: 0 50%;
    /* box-sizing:border-box */
}

.collection-display {
    width: 25%;
    padding: .5rem;
}

.collection-name-section {
    text-align: center;
    margin-bottom: 2em;
}

.cart-icon {
    text-align: end;
}
