.overlay-config-panel-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

/* the preview section */
.overlay-preview-container {
  width: 95%;
  height: 10em;
  margin: 0 auto;
  margin-top: 1rem;
  border: 0.2em dotted black;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

#overlay-preview-image {
  width: 50%;
  height: 80%;
  margin-right: 0.9em;
}
