.product-settings {
  /* box-sizing: border-box;
  margin: 0;
  padding: 2px; */
  width: 28vw;
  height: 85vh;
  background: #f5f5f5;
  border: 1px solid black;
}

.save {
  display: flex;
  justify-content: space-between;
  background: #f8bbd0;
  height: 3vh;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 8px;
}

.select-icon {
  display: flex;
  background: #d1c4e9;
  justify-content: space-between;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 8px;
}

.icon-select-container {
  float: left;
  margin-right: 20px;
}

input,
label,
select {
  display: block;
}

.product-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
}

.product-preview {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 3px dotted black;
  height: 15vh;
  width: 100%;
  margin-top: 1em;
  padding-top: 10px;
}

#panel-image {
  width: 125px;
  height: 125px;
}

#save-button {
  width: 50px;
}

